In [24]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd

In [25]:
driver = webdriver.Chrome(r"C:\Users\zakria\chromedriver.exe")

C:\Users\zakria\AppData\Local\Temp/ipykernel_948/190223631.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\zakria\chromedriver.exe")

In [26]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_greenhouse_gas_emissions'

In [27]:
driver.get(url)

In [28]:
titles = driver.find_elements_by_class_name('headerSort')

C:\Users\zakria\AppData\Local\Temp/ipykernel_948/2392032869.py:1: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  titles = driver.find_elements_by_class_name('headerSort')

In [29]:
for t in titles:
    print(t.text)

State
Production-based emissions
(MtCO2e) 2018 (CAIT)[1]
Production-based emissions INCLUDING land-use, land-use change and forestry (reported to UNFCCC)
MtCO2e 2018[5]
Production-based emissions excluding land-use, land-use change and forestry(World Resources Institute)
MtCO2e 2016[6]
Consumption-based emissions
(Global Carbon Project)
MtCO2e 2016[7]

In [30]:
df = pd.DataFrame(columns=[t.text for t in titles])
df.head()

Empty DataFrame
Columns: [State, Production-based emissions
(MtCO2e) 2018 (CAIT)[1], Production-based emissions INCLUDING land-use, land-use change and forestry (reported to UNFCCC)
MtCO2e 2018[5], Production-based emissions excluding land-use, land-use change and forestry(World Resources Institute)
MtCO2e 2016[6], Consumption-based emissions
(Global Carbon Project)
MtCO2e 2016[7]]
Index: []

In [31]:
states = driver.find_elements_by_xpath('//table[@class="wikitable sortable plainrowheaders jquery-tablesorter"]/tbody/tr/th')

C:\Users\zakria\AppData\Local\Temp/ipykernel_948/757774436.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  states = driver.find_elements_by_xpath('//table[@class="wikitable sortable plainrowheaders jquery-tablesorter"]/tbody/tr/th')

In [32]:
for idx,s in enumerate(states):
    print('row {}:'.format(idx))
    print('{}'.format(s.text))

row 0:
World
row 1:
 China (see: Greenhouse gas emissions by China)
row 2:
 United States (see: Greenhouse gas emissions by the United States)
row 3:
 India (see: Greenhouse gas emissions by India)
row 4:
 European Union (EU28, including the United Kingdom)
row 5:
 Russia (see: Greenhouse gas emissions by Russia)
row 6:
 Indonesia
row 7:
 Brazil
row 8:
 Japan
row 9:
 Iran
row 10:
 Germany
row 11:
 Canada (see: Greenhouse gas emissions by Canada)
row 12:
 Mexico
row 13:
 Democratic Republic of the Congo
row 14:
 South Korea
row 15:
 Saudi Arabia
row 16:
 Australia (see: Greenhouse gas emissions by Australia)
row 17:
 South Africa
row 18:
 Turkey (see: Greenhouse gas emissions by Turkey)
row 19:
 United Kingdom (see: Greenhouse gas emissions by the United Kingdom)
row 20:
 Pakistan
row 21:
 Thailand
row 22:
 Argentina
row 23:
 Malaysia
row 24:
 Italy
row 25:
 Vietnam
row 26:
 France
row 27:
 Nigeria
row 28:
 Poland
row 29:
 Egypt
row 30:
 Spain
row 31:
 Venezuela
row 32:
 Kazakhstan
row 33:
 Colombia
row 34:
 United Arab Emirates
row 35:
 Ukraine
row 36:
 Philippines
row 37:
 Uzbekistan
row 38:
 Myanmar
row 39:
 Bangladesh
row 40:
 Algeria
row 41:
 Iraq
row 42:
 Ethiopia
row 43:
 Peru
row 44:
 Netherlands
row 45:
 Tanzania
row 46:
 Sudan
row 47:
 Bolivia
row 48:
 Turkmenistan
row 49:
 Angola
row 50:
 Cameroon
row 51:
 Zimbabwe
row 52:
 Czech Republic
row 53:
 Kuwait
row 54:
 Mozambique
row 55:
 Belgium
row 56:
 Chad
row 57:
 Libya
row 58:
 Qatar
row 59:
 Afghanistan
row 60:
 Paraguay
row 61:
 Zambia
row 62:
 Morocco
row 63:
 Ecuador
row 64:
 Israel
row 65:
 Central African Republic
row 66:
 Greece
row 67:
 Romania
row 68:
 Oman
row 69:
 Azerbaijan
row 70:
 Kenya
row 71:
 New Zealand
row 72:
 Uganda
row 73:
 Cambodia
row 74:
 South Sudan
row 75:
 Austria
row 76:
 Portugal
row 77:
 Belarus
row 78:
 Singapore
row 79:
 Papua New Guinea
row 80:
 Hungary
row 81:
 Serbia
row 82:
 Ireland
row 83:
 Finland
row 84:
 Botswana
row 85:
 Mongolia
row 86:
 Burkina Faso
row 87:
   Nepal
row 88:
 Chile
row 89:
 Ivory Coast
row 90:
 Bahrain
row 91:
 Denmark
row 92:
 Solomon Islands
row 93:
 Syria
row 94:
 Niger
row 95:
 North Korea
row 96:
 Somalia
row 97:
  Switzerland
row 98:
 Mali
row 99:
 Madagascar
row 100:
 Guinea
row 101:
 Slovakia
row 102:
 Cuba
row 103:
 Guatemala
row 104:
 Nicaragua
row 105:
 Laos
row 106:
 Dominican Republic
row 107:
 Tunisia
row 108:
 Sri Lanka
row 109:
 Jordan
row 110:
 Uruguay
row 111:
 Senegal
row 112:
 Lebanon
row 113:
 Sweden
row 114:
 Norway
row 115:
 Honduras
row 116:
 Benin
row 117:
 Malawi
row 118:
 Bosnia and Herzegovina
row 119:
 Equatorial Guinea
row 120:
 Trinidad and Tobago
row 121:
 Liberia
row 122:
 Namibia
row 123:
 Panama
row 124:
 Yemen
row 125:
 Estonia
row 126:
 Republic of the Congo
row 127:
 Ghana
row 128:
 Bulgaria
row 129:
 Guyana
row 130:
 Lithuania
row 131:
 Croatia
row 132:
 Slovenia
row 133:
 Brunei
row 134:
 Georgia
row 135:
 Tajikistan
row 136:
 Kyrgyzstan
row 137:
 Gabon
row 138:
 El Salvador
row 139:
 Moldova
row 140:
 Suriname
row 141:
 Mauritania
row 142:
 Sierra Leone
row 143:
 Haiti
row 144:
 North Macedonia
row 145:
 Jamaica
row 146:
 Luxembourg
row 147:
 Albania
row 148:
 Armenia
row 149:
 Togo
row 150:
 Burundi
row 151:
 Latvia
row 152:
 Costa Rica
row 153:
 Cyprus
row 154:
 Eritrea
row 155:
 Rwanda
row 156:
 Belize
row 157:
 Mauritius
row 158:
 Timor-Leste
row 159:
 Lesotho
row 160:
 Guinea-Bissau
row 161:
 Montenegro
row 162:
 Barbados
row 163:
 Iceland
row 164:
 Gambia
row 165:
 Eswatini
row 166:
 Bahamas
row 167:
 Maldives
row 168:
 Grenada
row 169:
 Malta
row 170:
 Djibouti
row 171:
 Antigua and Barbuda
row 172:
 Bhutan
row 173:
 Vanuatu
row 174:
 Samoa
row 175:
 Seychelles
row 176:
 Cape Verde
row 177:
 Comoros
row 178:
 Saint Lucia
row 179:
{{AND}
row 180:
 São Tomé and Príncipe
row 181:
 Saint Vincent and the Grenadines
row 182:
 Saint Kitts and Nevis
row 183:
 Tonga
row 184:
 Palau
row 185:
 Fiji
row 186:
 Federated States of Micronesia
row 187:
 Marshall Islands
row 188:
 Dominica
row 189:
 Liechtenstein
row 190:
 Kiribati
row 191:
 Cook Islands
row 192:
 Nauru
row 193:
 Tuvalu
row 194:
 Niue

In [33]:
col2 =  driver.find_elements_by_xpath('//table[@class="wikitable sortable plainrowheaders jquery-tablesorter"]/tbody/tr/td[1]')

C:\Users\zakria\AppData\Local\Temp/ipykernel_948/328142532.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  col2 =  driver.find_elements_by_xpath('//table[@class="wikitable sortable plainrowheaders jquery-tablesorter"]/tbody/tr/td[1]')

In [34]:
col3 =  driver.find_elements_by_xpath('//table[@class="wikitable sortable plainrowheaders jquery-tablesorter"]/tbody/tr/td[2]')

C:\Users\zakria\AppData\Local\Temp/ipykernel_948/2567173792.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  col3 =  driver.find_elements_by_xpath('//table[@class="wikitable sortable plainrowheaders jquery-tablesorter"]/tbody/tr/td[2]')

In [35]:
col4 =  driver.find_elements_by_xpath('//table[@class="wikitable sortable plainrowheaders jquery-tablesorter"]/tbody/tr/td[3]')

C:\Users\zakria\AppData\Local\Temp/ipykernel_948/2149455166.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  col4 =  driver.find_elements_by_xpath('//table[@class="wikitable sortable plainrowheaders jquery-tablesorter"]/tbody/tr/td[3]')

In [36]:
col5 =  driver.find_elements_by_xpath('//table[@class="wikitable sortable plainrowheaders jquery-tablesorter"]/tbody/tr/td[4]')

C:\Users\zakria\AppData\Local\Temp/ipykernel_948/2407314006.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  col5 =  driver.find_elements_by_xpath('//table[@class="wikitable sortable plainrowheaders jquery-tablesorter"]/tbody/tr/td[4]')

In [37]:
df[df.columns[0]] = [s.text for s in states]
df[df.columns[1]] = [s.text for s in col2]
df[df.columns[2]] = [s.text for s in col3]
df[df.columns[3]] = [s.text for s in col4]
df[df.columns[4]] = [s.text for s in col5]

In [38]:
df.head()

,State,Production-based emissions\n(MtCO2e) 2018 (CAIT)[1],"Production-based emissions INCLUDING land-use, land-use change and forestry (reported to UNFCCC)\nMtCO2e 2018[5]","Production-based emissions excluding land-use, land-use change and forestry(World Resources Institute)\nMtCO2e 2016[6]",Consumption-based emissions\n(Global Carbon Project)\nMtCO2e 2016[7]
0,World,"48,928",,,
1,China (see: Greenhouse gas emissions by China),"11,706",,12700,8801
2,United States (see: Greenhouse gas emissions ...,"5,794",5903,6570,5716
3,India (see: Greenhouse gas emissions by India),"3,347",,2870,2217
4,"European Union (EU28, including the United Ki...","3,333",3951,,4166

In [39]:
df.to_csv('greenhouse_gas_emissions.csv')